<div class="container-fluid" id="principal">
        <div class="row menu" id="menu">
                <div class="col-lg-5 items-menu" >
                    <ul style="list-style: none; display: inline-flex; background: rgba(0, 0, 0, 0.486)">
                        <li>
                            <a class="badge" href="#" routerLink="/principal">
                                <i class="fas fa-home fa-2x"></i><br />
                                <span class="badge badge-dark">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/ventas">
                                <i class="fas fa-comments-dollar fa-2x"></i><br />
                                <span class="badge badge-dark">Ventas</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/clientes">
                                <i class="fas fa-users fa-2x"></i>
                                <br />
                                <span class="badge badge-dark">Clientes</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/facturas">
                                <i class="far fa-clipboard fa-2x"></i> <br />
                                <span class="badge badge-dark">Facturas</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/inventario">
                                <i class="fas fa-door-open fa-2x"></i> <br />
                                <span class="badge badge-dark">Inventario</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/proveedores">
                                <i class="fas fa-shipping-fast fa-2x"></i> <br />
                                <span class="badge badge-dark">Proveedores</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/login" (click)="singOut()">
                                <i class="fas fa-power-off fa-2x"></i> <br />
                                <span class="badge badge-dark">Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
        <div class="col-lg-7 text-center">
            <h2>Clientes <i class="fas fa-users"></i></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="card" id="formularioRegistro">
                <img src="http://www.clker.com/cliparts/5/d/1/e/1370391880452134127business_users-1.png" alt="img-log"
                    class="card-img-top">
                    <h3 style="font-family: serif; text-align: center;" >Registrar Cliente</h3>
                <div class="card-body">
                    <form #formCliente="ngForm" autocomplete="off" (submit)="registerClientes(formCliente)">
                        <div class="form-group">
                            <input id="cardCliente" name="identificacion" [(ngModel)]="cliente.identificacion"
                                type="text" class="form-control" placeholder="identificacion">
                        </div>
                        <div class="form-group">
                            <input name="nombre" [(ngModel)]="cliente.nombre" type="text" class="form-control"
                                placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <input name="apellido" [(ngModel)]="cliente.apellido" type="text" class="form-control"
                                placeholder="apellido">
                        </div>
                        <div class="form-group">
                            <input name="telefono" [(ngModel)]="cliente.telefono" type="text" class="form-control"
                                placeholder="telefono">
                        </div>
                        <div class="form-group">
                            <input name="direccion" [(ngModel)]="cliente.direccion" type="text" class="form-control"
                                placeholder="Direccion">
                        </div>
                        <button type="submit" class="btn btn-warning btn-block">Registrar</button>
                        <button type="button" class="btn btn-dark btn-block"
                            (click)="resetForm(formCliente)">Limpiar</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <nav class="navbar navbar-light bg-light">
                <span class="nav-item"><strong>Lista de Clientes</strong></span>
                <form #formularioBusqueda="ngForm" autocomplete="off" class="form-inline ml-auto">
                    <input name="search" class="form-control mr-sm-2" (keyup)="searchClient(search)" type="search"
                        [(ngModel)]="search" placeholder="Buscar Cliente" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                        (click)="searchClient(search)">Search</button>
                </form>
            </nav>
            <table class="table table-md table-light table-striped table-hover text-center">
                <thead>
                    <th class="">Identificacion</th>
                    <th class="">Nombre</th>
                    <th class="">Apellido</th>
                    <th>Opciones</th>
                </thead>
                <tbody *ngIf="!statusfilter">
                    <tr *ngFor="let datos of dataClientes">
                        <td data-toggle="modal" data-target="#myModal" (click)="verCliente(datos)">
                            {{datos.identificacion}}</td>
                        <td data-toggle="modal" data-target="#myModal" (click)="verCliente(datos)"> {{datos.nombre}}
                        </td>
                        <td data-toggle="modal" data-target="#myModal" (click)="verCliente(datos)"> {{datos.apellido}}
                        </td>
                        <td (click)="deleteCliente(datos.id) "><span class="badge badge-warning btn">Eliminar</span>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="statusfilter">
                    <tr *ngFor="let datos of filterCliente">
                        <td data-toggle="modal" data-target="#myModal" (click)="verCliente(datos)">
                            {{datos.identificacion}}</td>
                        <td data-toggle="modal" data-target="#myModal" (click)="verCliente(datos)"> {{datos.nombre}}
                        </td>
                        <td data-toggle="modal" data-target="#myModal" (click)="verCliente(datos)"> {{datos.apellido}}
                        </td>
                        <td (click)="deleteCliente(datos.id) "><span class="badge badge-warning btn">Eliminar</span>
                        </td>
                    </tr>
                    <tr *ngIf="!searched">
                        <td> No se ha encontrado ninguna coincidencia</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Modal -->
                <div class="modal fullscreen-modal fade" id="myModal" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form #formularioModificar="ngForm">

                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Cliente</h4>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>

                                <div class="modal-body">
                                    <input type="hidden" name="id" [(ngModel)]="clienteSelected.id">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
                                        <div class="col-sm-6">
                                            <input class="formularioEdit" type="text" readonly
                                                class="form-control-plaintext" name="nombre" id="nombre"
                                                [(ngModel)]="clienteSelected.nombre">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="apellido" class="col-sm-2 col-form-label">Apellido:</label>
                                        <div class="col-sm-6">
                                            <input class="formularioEdit" type="text" readonly
                                                class="form-control-plaintext" name="apellido" id="apellido"
                                                [(ngModel)]="clienteSelected.apellido">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="telefono" class="col-sm-2 col-form-label">Telefono:</label>
                                        <div class="col-sm-6">
                                            <input class="formularioEdit" type="text" readonly
                                                class="form-control-plaintext" name="telefono" id="telefono"
                                                [(ngModel)]="clienteSelected.telefono">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="direccion" class="col-sm-2 col-form-label">Direccion:</label>
                                        <div class="col-sm-6">
                                            <input class="algo" type="text" readonly class="form-control-plaintext"
                                                name="direccion" id="direccion" [(ngModel)]="clienteSelected.direccion">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-default"
                                            (click)="cancelContact()"
                                            data-dismiss="modal">{{cancelarContactar}}</button>
                                        <button id="saveModif" type="button" class="btn btn-primary"
                                            (click)="modificarCliente(formularioModificar)">{{modificarGuardar}}</button>
                                    </div>

                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>