.table-scroll{
    position: relative;
    height:600px;
    overflow: auto
}

.custom-scroll{
    display: block;

}

#menu{
    margin-top: 2px;
    padding-top: 6rem;
    background-image: url('/assets/whitebg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#menu .items-menu ul{
background-color: rgb(37, 0, 31);
}

#menu ul{
    border-radius: 5px;
}

#datosFactura{
    background-color: rgba(241, 238, 238, 0.212);
    border-radius: 10px;
    padding: 12px;
}