.table-scroll{
    position: relative;
    height:40%;
    overflow: auto
}

.custom-scroll{
    display: block;

}

#menu{
    margin-top: 2px;
    padding-top: 6rem;
}

#menu ul{
    border-radius: 5px;
}