<div class="container-fluid">
    <div class="row menu">
        <div class="col-lg-5">
            <ul style="list-style: none; display: inline-flex; background: rgba(0, 0, 0, 0.486);">
                <li>
                    <a class="badge" href="#" routerLink="/principal">
                        <i class="fas fa-home fa-2x"></i><br />
                        <span class="badge badge-dark">Inicio</span>
                    </a>
                </li>
                <li>
                    <a class="badge" href="#" routerLink="/ventas">
                        <i class="fas fa-comments-dollar fa-2x"></i><br />
                        <span class="badge badge-dark">Ventas</span>
                    </a>
                </li>
                <li>
                    <a class="badge" href="#" routerLink="/clientes">
                        <i class="fas fa-users fa-2x"></i>
                        <br />
                        <span class="badge badge-dark">Clientes</span>
                    </a>
                </li>
                <li>
                    <a class="badge" href="#" routerLink="/facturas">
                        <i class="far fa-clipboard fa-2x"></i> <br />
                        <span class="badge badge-dark">Facturas</span>
                    </a>
                </li>
                <li>
                    <a class="badge" href="#" routerLink="/inventario">
                        <i class="fas fa-door-open fa-2x"></i> <br />
                        <span class="badge badge-dark">Inventario</span>
                    </a>
                </li>
                <li>
                    <a class="badge" href="#" routerLink="/proveedores">
                        <i class="fas fa-shipping-fast fa-2x"></i> <br />
                        <span class="badge badge-dark">Proveedores</span>
                    </a>
                </li>
                <li>
                    <a class="badge" href="#" routerLink="/login" (click)="singOut()">
                        <i class="fas fa-power-off fa-2x"></i> <br />
                        <span class="badge badge-dark">Salir</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-7 text-center">
            <h2>Registro de Facturas</h2>
        </div>
    </div>
    <button (click)="prueba()" class="btn btn-warning">Click Aqui</button>
    <div class="row">
        <form #formularioFactura="ngForm">
            <div class="row">
                <div class="col col-md-3">
                    <!-- aca sera el tipo de Cliente -->
                    <h4>Cliente</h4>
                    <div *ngIf="turnTipoCliente; else loggedOut">
                        Cliente Natural
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                            </div>
                          </div>
                       

                      </div>
                      
                      <ng-template #loggedOut>
                        Cliente Juridico
                      </ng-template>

                </div>
                <div class="col col-sm-5">
                    <!-- aca ira los datos del cliente -->
                    <h4>Datos</h4>
                </div>
                <div class="col col-sm-4">
                    <!-- aca ira el numero de factura y el tipo de venta -->
                    <div class="form-group">
                        <label class="col-form-label"> Nro Factura</label>
                        <input class="form-control" type="text" name="numeroFactura" id="numeroFactura">
                    </div>>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-6">
                    <!-- aca ira los articulos del carrito -->
                </div>
                <div class="col col-sm-6">
                    <!-- aca ira la busqueda de los articulos -->
                </div>
            </div>
        </form>
    </div>

</div>