<div class="container-fluid">
    <div class="row menu">
            <div class="col-lg-5" >
                    <ul style="list-style: none; display: inline-flex; background: rgba(0, 0, 0, 0.486);">
                        <li>
                            <a class="badge" href="#" routerLink="/principal">
                                <i class="fas fa-home fa-2x"></i><br />
                                <span class="badge badge-dark">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/ventas">
                                <i class="fas fa-comments-dollar fa-2x"></i><br />
                                <span class="badge badge-dark">Ventas</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/clientes">
                                <i class="fas fa-users fa-2x"></i>
                                <br />
                                <span class="badge badge-dark">Clientes</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/facturas">
                                <i class="far fa-clipboard fa-2x"></i> <br />
                                <span class="badge badge-dark">Facturas</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/inventario">
                                <i class="fas fa-door-open fa-2x"></i> <br />
                                <span class="badge badge-dark">Inventario</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/proveedores">
                                <i class="fas fa-shipping-fast fa-2x"></i> <br />
                                <span class="badge badge-dark">Proveedores</span>
                            </a>
                        </li>
                        <li>
                            <a class="badge" href="#" routerLink="/login" (click)="singOut()">
                                <i class="fas fa-power-off fa-2x"></i> <br />
                                <span class="badge badge-dark">Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
        <div class="col-lg-7 text-center">
            <h2>Proveedores</h2>
        </div>
    </div>
</div>