#principal{
/*     background: url('/assets/mesa2.jpg');
 */    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 4%;
    border-radius: 8px;
    margin-top: 1%;
}
#opciones{
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right:0 ;
}
 
#opciones a {
    width:80%;
    margin: 10% 0;
    padding: 10%;
    border-radius: 40px;

    
}

#opciones .texto{

    width:100%;
    margin: 5% 0;
    padding: 12%;
    border-radius: 40px;
/*     border-style: solid;
    border-color: coral;
    border-width: 7px;  */
    background-color: rgba(224, 224, 224, 0.411);
    color:rgb(107, 107, 107);
}


#opciones a span{
    font-size: 100%;
    margin-top: 5%;
}

#cabezera{
    padding: 5% 1% 1% 1%;
    border-radius:5px;
    background-image: url('/assets/whitebg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) and (max-width: 1199px) {
    /* deskopt */
    #opciones a {
        width:80%;
        margin: 10% 0;
        border-radius: 40px; 
    }

    #opciones a i {
        font-size: 90px;
    }
    
    #opciones .texto{
    
        width:100%;
        margin: 5% 0;
        padding: 12%;
        border-radius: 40px;
    /*     border-style: solid;
        border-color: coral;
        border-width: 7px;  */
        background-color: rgba(224, 224, 224, 0.411);
        color:rgb(107, 107, 107);
    }
    
    
    #opciones a span{
        font-size: 100%;
        margin-top: 5%;
    }
}

@media (max-width: 767px) { 
    /* moviles horizontales y tables */
    
  

}

@media(max-width:480px) {
    /* moviles */
    #opciones a {
        width:80%;
        margin: 10% 0;
        padding: 10%;
        border-radius: 40px;
    
        
    }
    
    #opciones .texto{
    
        width:100%;
        margin: 5% 0;
        padding: 12%;
        border-radius: 40px;
    /*     border-style: solid;
        border-color: coral;
        border-width: 7px;  */
        background-color: rgba(224, 224, 224, 0.411);
        color:rgb(107, 107, 107);
    }
    
    
    #opciones a span{
        font-size: 100%;
        margin-top: 5%;
    }

    
}