#bgLoging{
/*     background: url('/assets/fondopared.jpg');
 */    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card{
    margin-top: 12%;
    background-color: rgba(0, 0, 0, 0.685);
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.card-img-top{
    height: 200px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

