#formularioArticulos{
    margin: auto auto;
    padding: 3%;
    background: url('/assets/mesa2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menu{
    margin-top: 2px;
    padding-top: 6rem;
    background-image: url('/assets/whitebg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#menu .items-menu ul{
background-color: rgb(37, 0, 31);
}

.card-body{
    background: rgba(255, 255, 255, 0.513);
    color: black;
    border-radius: 10px;
    margin: 2%;
}
#formularioArticulos{
    border-radius: 10px;
}

#iconAgregar{
    border-radius: 10%;
    padding:5%;
    cursor: pointer;
    color: black;
}

#iconAgregar:hover{
    color: rgb(47, 47, 47);
}

#ocultarBoton{
    cursor: pointer;
    color: black;
}

#ocultarBoton:hover{
    color: rgb(46, 46, 46);


}

.table-scroll{
    position: relative;
    height: 90%;
    overflow: auto
}

.custom-scroll{
    display: block;

}