#formularioArticulos {
    margin: auto auto;
    padding: 3%;
    width: 80%;
    background-color: rgb(131, 131, 131);
}

 #contenedorIcon{
    text-align: center;
}

#menu {
    margin-top: 2px;
    padding-top: 6rem;
    background-image: url('/assets/whitebg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#menu .items-menu ul {
    background-color: rgb(37, 0, 31);
}

.card-body {
    background: rgba(255, 255, 255, 0.513);
    color: black;
    border-radius: 10px;
    margin: 2%;
}

#formularioArticulos {
    border-radius: 10px;
}

#iconAgregar {
    border-radius: 10%;
    padding: 5%;
    cursor: pointer;
    color: black;
}

#iconAgregar:hover {
    color: rgb(47, 47, 47);
}

#ocultarBoton {
    cursor: pointer;
    color: black;
}

#ocultarBoton:hover {
    color: rgb(46, 46, 46);
}

.table-scroll {
    position: relative;
    height: 90%;
    overflow: auto
}

.custom-scroll {
    display: block;
}

@media (min-width: 768px) and (max-width: 1199px) {
    /* deskopt */
}

@media (max-width: 767px) {
    /* moviles horizontales y tables */
    #iconAgregar{
        font-size: 12px;
        margin-left: 7px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contenedorIcon{
        text-align: left;
    }
    #menu .items-menu ul li {
        font-size: medium;
    }
    #formularioArticulos {
        margin: 10px 0;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    #menu {
        padding: 0;
        padding-left: 10px;
        padding-top: 10px;
    }
}

@media(max-width:480px) {
    /* moviles */
    #iconAgregar{
        font-size: 8px;
        margin-left: 7px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contenedorIcon{
        text-align: left;
    }
    #menu .items-menu ul li {
        font-size: 13px;
    }
    #formularioArticulos {
        margin: 10px 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    .card-img-top {
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        padding: 2%;
    }
    .tableInventario {
        font-size: 10px;
    }
}